body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fbackground&psig=AOvVaw27hc_debgjKR53-lC9XVEl&ust=1762301786215000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCIjCo_Gb15ADFQAAAAAdAAAAABAE);
}